body {
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.config {
    margin: 20px auto;
    width: 230px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 5px;
    margin: auto;
    width: 500px;
    height: 500px;
}
